{% extends 'portfolio-base.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('posts.static', filename='css/edit-post.css') }}">
{% endblock %}

{% block content %}
    {% from "render-filed.html" import render_field %}

    <div class="main-wrapper">
        <main class="main">
            <form action="{{ url_for("posts.create_post") }}"
                  method="post"
                  class="post-form"
                  novalidate
                  enctype="multipart/form-data"
            >
                {{ form.csrf_token }}
                <div class="form-header">
                    <p class="form-title">{{ form_title }}</p>
                </div>
                <div> {{ render_field(form.title) }} </div>
                <div> {{ render_field(form.text, style="z-index: 1000;") }} </div>
                <div> {{ render_field(form.image) }} </div>
                <div> {{ render_field(form.type) }} </div>
                <div class="checkbox"> {{ render_field(form.enable) }} </div>
                <div class="d-flex justify-content-center align-items-center">
                    {{ form.submit(class="default-submit") }}
                </div>
            </form>
        </main>
    </div>
{% endblock %}