{% set navs = {
"Home": url_for('common.portfolio_main'),
"Projects": url_for('common.portfolio_projects'),
"Contacts": url_for('common.portfolio_contacts'),
"Skills": url_for('common.portfolio_skills'),
"Info": url_for('common.info'),
"Todo": url_for('todo.todo_page'),
"Comments": url_for('common.comments_page'),
"Posts": url_for('posts.all_posts'),
"Categories": url_for('posts.categories')
} %}


<nav class="navigation">
    <ul class="nav-pages" id="navPages">
        {% for label, nav in navs.items() %}
            <li><a href="{{ nav }}">{{ label }}</a></li>
        {% endfor %}
    </ul>
</nav>