{% extends 'portfolio-base.html' %}

{% block links %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/info.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="main-wrapper">
        <main class="main">
            <div class="info-header">
                <h4>Hello my dear {{ session.get("user_data").get("login", "user") }}!</h4>
            </div>

            <div class="info-main">



            </div>

            <div class="info-footer">
                <a class="default-submit" href="{{ url_for("logout") }}">Logout</a>
            </div>
        </main>
    </div>

{% endblock %}
