{% extends 'portfolio-base.html' %}

{% block links %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block content %}
    {{ super() }}

    <div class="main-wrapper">
        <main class="main">
            <form action="{{ url_for("login_post") }}" method="post" class="login-form">
                <div class="form-header">
                    <p class="form-title">
                        Login here🎯
                    </p>
                </div>

                <div class="form-row">
                    <label for="login">
                        Login
                    </label>
                    <input class="default-input" type="text" id="login" placeholder="Write login here"
                           autocomplete="off" name="login"
                    >
                </div>
                <div class="form-row">
                    <label for="password">
                        Password
                    </label>
                    <input class="default-input" type="password" id="password" placeholder="Hide your password here"
                           name="password"
                    >
                </div>

                <div class="form-footer">
                    <button class="default-submit" type="submit">Sign-in</button>
                </div>
            </form>
        </main>

        {% if session.get("login_message") %}
            <div class="login-message">
                <p>{{ session.pop("login_message") }}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}