
.main-wrapper {
    display: flex;

    flex: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.main-wrapper .main {
    display: flex;
}

.post-wrapper {
    display: flex;

    flex-direction: column;

    min-width: 50vw;
}

.post-title-wrapper{
    display: flex;

    flex-direction: row;

    align-items: end;
}

.post-image {

    width: 15vw;
    height: 15vw;

    border-radius: 2vw;

    background-position: center;
    background-size: cover;!important;
}

.post-body {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    padding: 10px 30px;
    margin: 10px 0 50px 0;

    border-radius: 30px;

    background: var(--white-gradient-revers);
}

.post-header {
    display: flex;

    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    margin: 10px 0;

    width: 100%;
}

.post-title {

    font-weight: 500;
    font-size: 1.2rem;

    margin: 0 10px 0 10px;
}

.post-left {
    display: flex;

    flex-direction: row;

    justify-content: center;
    align-items: center;

    margin-right: 50px;
}

.post-details{
    display: flex;

    flex-direction: row;
}

.post-category {

    padding: 2px 10px;

    border-radius: 10px;

    background: rgba(161, 61, 255, 0.4);

    font-size: 1rem;
    font-weight: 600;
}

.post-type {

    padding: 2px 10px;

    border-radius: 10px;

    background: rgba(61, 188, 255, 0.4);!important;

    font-size: 1rem;
    font-weight: 600;
}

.NEWS {
    background: rgba(61, 188, 255, 0.4);!important;
}

.PUBLICATION {
    background: rgba(61, 255, 129, 0.4);!important;
}

.OTHER {
    background: rgba(255, 223, 61, 0.4);!important;
}

.post-main {
    padding: 5px;

    border-radius: 10px;

    border: 2px dashed var(--blue-color);

    min-height: 10vh;
    min-width: 25vw;
    max-width: 75vw;
    width: 100%;
}

.post-buttons a{
    text-decoration: none;
}

.post-tags{
    display: flex;

    flex-direction: row;

    width: 100%;
}

.post-tags .post-tag{
    margin: 5px;

    padding: 0 5px;

    border-radius: 10px;

    background: rgba(176, 176, 176, 0.6);
}

