
.main-wrapper{
    display: flex;

    flex: 1;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.main-wrapper .main{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 1440px;
}

.form-block{

    margin: 15px 0;

    border-radius: 15px;
    padding: 15px 30px;

    background: var(--white-gradient-revers);
}

.form-block{
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.form-block .form-row{
    display: flex;

    flex-direction: column;
    align-items: flex-start;

    margin: 10px 0;

    width: 100%;
}

.form-block .form-row label{
    font-weight: 600;
}

.cookie-table{
    border-collapse: collapse;

    min-width: 40vw
}


.cookie-table tbody tr{
    position: relative;

    height: 30px;
}

.cookie-table tbody tr:after{
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;

    width: 100%;

    border-bottom: 2px solid var(--black-color);
}

.cookie-message{

    margin: 5px 0 0 0;
    padding: 5px;

    background: var(--white-second-color);

    border-radius: 10px;
}

.cookie-message p{
    margin: 0;

    font-weight: 600;
}

.login-form .form-row {
    display: flex;

    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    min-width: 30vw;

    margin: 20px;
}

.change-pass-form .form-input dd {
    width: 100%;
}

.change-pass-form .form-row label {
    font-size: 1.1rem;
    font-weight: 600;
}

.change-pass-form .form-submit {
    justify-content: center;
    align-items: center;
}