.main-wrapper {
    display: flex;

    flex: 1;

    flex-direction: column;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.main-wrapper .main {
    width: 90%;
}

.contacts-wrapper {
    display: flex;

    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100%;
}

.contacts {

    padding: 10px;
    border-radius: 10px;

    background: var(--white-color);
}

.contacts-list {
    list-style: none;
}

.contact-icon {
    display: block;
    width: 48px;
    height: 48px;

    margin-right: 10px;

    border-radius: 30%;

    background: var(--purpul-gradient);
}

.contact-wrapper {
    display: flex;

    flex-direction: row;
    align-items: center;

    padding: 10px 0;
}

.contact-wrapper:not(:last-child) {
    border-bottom: 2px solid var(--black-color);
}

.contact {
    color: var(--black-color);

    font-size: 1.2rem;
}

.contact h4{
    margin: 10px 0;
}

.contact h5{
    margin: 8px 0;
}
