
*{
    font-family: "Roboto Light", sans-serif;

    --white-color: #e8e8e8;
    --white-second-color: #cbcbcb;

    --black-color: #151515;
    --semi-black-color: rgba(21, 21, 21, 0.5);

    --select-color: #ffe700;
    --select-hover-color: #ffe700;

    --white-gradient: linear-gradient(317deg, var(--white-color), var(--white-second-color));
    --blue-gradient: linear-gradient(123deg, rgb(47 184 255) 39.22%, rgb(23 210 255) 90.31%);
    --purpul-gradient: linear-gradient(123deg, rgb(115, 33, 255) 39.22%, rgb(139, 84, 229) 90.31%);
}

div, ul, body{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
}

.bg-white-gradient{
    background: var(--white-gradient);
}

.bg-blue-gradient{
    background: var(--blue-gradient);
}

.navigation{
    display: flex;

    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    height: 40px;

    border-bottom: 2px solid var(--black-color);
}

.nav-pages{
    list-style: none;

    display: flex;

    flex-direction: row;
    justify-content: space-between;
    align-content: center;

    max-width: 400px;
    width: 100%;
    height: 100%;
}

.nav-pages li{
    display: flex;
    align-items: center;
}

.nav-pages li a{
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: none;
    padding: 10px;

    color: var(--black-color);

    transition: ease .2s;
}

.nav-pages li a:hover{
    color: var(--select-hover-color);
}

.nav-pages li a:active{
    transform: scale(95%);
}

.nav-pages li .selected{
    color: var(--select-color);
}

.nav-pages li .selected::after{
    content: "";

    display: block;

    height: 2px;
    width: 100%;

    background: var(--select-color);
}

.default-button{
    box-sizing: border-box;

    padding: 5px;

    color: var(--black-color);
    background: var(--blue-gradient);
    border: 2px solid var(--black-color);
    border-radius: .6rem;

    font-size: 1.5rem;
    font-weight: 500;

    text-decoration: none;

    transition: ease .1s;
}

.default-button:hover{
    transform: scale(102%);
}

.default-button:active{
    transform: scale(98%);
}
