{% extends 'portfolio-base.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('user.static', filename='css/account.css') }}">
{% endblock %}

{% block content %}
    {% from "render-filed.html" import render_field %}

    <div class="main-wrapper">
        <main class="main">
            <div class="main-left">
                <div class="user-avatar"
                     style="background-image: url('{{ url_for('static', filename='users-avatars/' + current_user.avatar_image) }}')"
                >
                </div>
                <h2 style="font-weight: 600">
                    🎉{{ current_user.username }}👑
                </h2>
                <p>Last seen: {{ current_user.last_seen }}</p>
            </div>
            <div class="">
                <form action="{{ url_for("user.account") }}"
                      method="post"
                      class="login-form w-100 bg-white-gradient-revers"
                      novalidate
                      enctype="multipart/form-data"
                >
                    {{ form.csrf_token }}
                    <div> {{ render_field(form.username) }} </div>
                    <div> {{ render_field(form.email) }} </div>
                    <div> {{ render_field(form.avatar_image) }} </div>
                    <div> {{ render_field(form.about_me) }} </div>
                    <div> {{ render_field(form.new_password) }} </div>
                    <div> {{ render_field(form.confirm_password) }} </div>
                    <div> {{ render_field(form.old_password) }} </div>
                    <div class="d-flex justify-content-center align-items-center"> {{ form.submit(class="default-submit", tabindex=2) }} </div>
                </form>
            </div>
        </main>
    </div>

{% endblock %}