{% extends 'portfolio-base.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/info.css') }}">
{% endblock %}

{% block content %}
    {% from "render-filed.html" import render_field %}

    <div class="main-wrapper">
        <main class="main">
            <div class="info-header">
                {% if current_user.is_authenticated %}
                    <h2>Hello my dear {{ current_user.username }}!</h2>
                {% else %}
                    <h2>Hello my dear user!</h2>
                {% endif %}
            </div>

            {% if current_user.is_authenticated %}
                <div class="info-logout">
                    <a class="default-submit" href="{{ url_for("auth.logout") }}">Logout</a>
                </div>
            {% endif %}

            <div class="info-main">
                <div class="add-remove-block">
                    <form class="form-block" action="{{ url_for("cookie.add_cookie") }}" method="post">
                        <div class="form-row">
                            <label for="cookie_key">
                                Key
                            </label>
                            <input class="default-input" type="text" id="cookie_key" name="cookie_key"
                                   placeholder="Enter cookie key">
                        </div>
                        <div class="form-row">
                            <label for="cookie_value">
                                Value
                            </label>
                            <input class="default-input" type="text" id="cookie_value" name="cookie_value"
                                   placeholder="Enter cookie value">
                        </div>
                        <div class="form-row">
                            <label for="expires_at">
                                Expire at
                            </label>
                            <input class="default-input" type="text" id="expires_at" name="expires_at"
                                   placeholder="Enter cookie expire at">
                        </div>

                        <button type="submit" class="default-submit">Add cookie</button>
                    </form>

                    <div class="form-block">
                        <h3>All your cookies</h3>
                        <table class="cookie-table">
                            <thead>
                            <tr>
                                <th scope="col">Key</th>
                                <th scope="col">Value</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cookie_key, cookie_value in cookies %}
                                {% if cookie_key != "session" %}
                                    <tr>
                                        <td>{{ cookie_key }}</td>
                                        <td>{{ cookie_value }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>

                    <form class="form-block" action="{{ url_for("cookie.remove_cookie") }}" method="post">
                        <div class="form-row">
                            <label for="cookie_key">
                                Key
                            </label>
                            <input class="default-input" type="text" id="cookie_key" name="cookie_key"
                                   placeholder="Enter cookie key">
                        </div>
                        <div class="buttons-block">
                            <button type="submit" class="default-submit">Remove cookie</button>
                        </div>
                    </form>
                    <form action="{{ url_for("cookie.remove_cookie") }}" method="post" class="form-block">
                        <button type="submit" class="default-submit">Remove all cookie</button>
                    </form>

                    {% if change_password_from %}
                        <form class="form-block change-pass-form" action="{{ url_for("auth.change_password") }}"
                              method="post" novalidate>
                            {{ change_password_from.csrf_token }}
                            <div class="form-row form-input"> {{ render_field(change_password_from.old_password) }} </div>
                            <div class="form-row form-input"> {{ render_field(change_password_from.new_password) }} </div>
                            <div class="form-row form-submit"> {{ change_password_from.submit(class="default-submit") }} </div>
                        </form>
                    {% endif %}
                </div>
            </div>
        </main>
    </div>

{% endblock %}
