{% extends 'portfolio-base.html' %}

{% block links %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('common.static', filename='css/portfolio-projects.css') }}">
{% endblock %}

{% block content %}
    <div class="main-wrapper">
        <main class="main">
            {% if projects_list %}
                <ul class="projects-list">
                    {% for project in projects_list %}
                        <li class="project">
                            <img class="project-photo"
                                 src="{{ url_for('static', filename='images/' + project.photo_url) }}"
                                 alt="project icon"
                            >
                            <a href="{{ project.project_url }}">{{ project.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <h3 style="font-weight: 400; text-align: center">Список проектів порожній</h3>
            {% endif %}

        </main>
    </div>

{% endblock %}