.main-wrapper {
    display: flex;

    flex: 1;

    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
}

.main-wrapper .main {
    display: flex;

    flex-direction: row;
    justify-content: start;
    align-items: start;

    margin: 5vh 0;
}

.main div{
    font-weight: 600;
    font-size: 1.2rem;
}

.user-avatar{
    margin: 5px;

    width: 20vw;!important;
    height: 20vw;!important;

    border-radius: 100%;

    background-position: center;
    background-size: cover;!important;
}

.post-form{

    padding: 20px 30px;

    border-radius: 10px;

    max-width: 75vw;
    min-width: 35vw;
}

.main-left{
    display: flex;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin: 0 10px 0 0;
}
